 {% extends 'task_manage.html' %}
 {% block add_task %}


                    <div style="width: 80%;margin-left: 20px;">
                        <form action="/debug/" method="get" class="bs-example bs-example-form"
                              role="form" style="margin-top: 30px">

                            <div class="input-group">
                                <span class="input-group-addon" >名称</span>
                                <input class="form-control" id="task_name" type="text"value={{ name }}>
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon" >描述</span>
                                <textarea class="form-control" rows='3' id="describe" >{{ describe }}</textarea>
                            </div>
                            <br>


                            <div class="input-group" id="case_list">
                                <label>用例</label>
                                <br>

                            </div>

                            <div style='width: 100%;heigh: 60px;'>
                                <button class="btn btn-default" type="button" id="back" style="float: right;"
                                        onclick="window.location.href='/interface/task_manage'">返回</button>
                                <button class="btn btn-primary" type="button" id="save" style="float: right;margin-right: 10px">保存</button>

                            </div>
                      </form>
                   </div>


         <script type="text/javascript">

         {#CaseInit();#}
         {#CaseSelected();#}

          $(document).ready(function() {

                 //保存接口
                  $('#save').click(function () {
                     let name = $('#task_name').val();
                     let describe = $('#describe').val();
                     let elements = $('#case_list > input');
                     let cases='';
                     for (var i = 0;i < elements.length; i++){
                         if (elements[i].checked === true){
                             var mycase = elements[i].value;
                             cases = cases+mycase+',';
                         }
                     }

                     if (name === '') {
                         window.alert('名称不能为空');
                         return;
                     }

                     $.post('/interface/save_task/',{
                         //'djnago接收的': 上面的let变量,
                         'name': name,
                         'describe': describe,
                         'cases': cases,
                     },function(resp){
                     window.alert(resp.msg);
                     });

                 });

             })

         </script>



  {% endblock %}