

  {% extends 'base.html' %}
  {% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/manage/project_manage">项目管理</a></li>
            <li><a href="/manage/module_manage">模块管理</a></li>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/interface/case_manage">用例管理</a></li>
            <li class="active"><a href="/interface/task_manage">任务管理 <span class="sr-only">(current)</span></a></li>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mockserver</a></li>
            <li><a href="">测试工具</a></li>

          </ul>
        </div>

{#        #任务列表#}
      {% if type == 'list' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">任务列表
          <button class="btn btn-default" type="button" style="float: right"
           onclick="window.location.href='/interface/add_task/'">创建任务</button>
          </h3>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>描述</th>
                  <th>关联用例</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for task in tasks %}
                <tr>
                  <td>{{ task.name }}</td>
                  <td>{{ task.describe }}</td>
                  <td>{{ task.cases }}</td>
                  <td>{{ task.status }}</td>
                  <td>{{ task.create_time | date:"Y-m-s H:m:s" }}</td>
                  <td>
                      <a href="/interface/edit_task/{{ task.id }}/">编辑</a>
                      <a href="/interface/delete_task/{{ task.id }}/">删除</a>

                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      {% endif %}



{#    #  添加模块#}
    {% if type == 'add' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">添加任务</h3>
          {% block add_task %}
          {% endblock %}
{#          <div class="table-responsive">#}
{#              2、通过form对象的as_p方法实现#}
{#                <form action="" method="get">#}
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    <button type="submit" class="btn btn-success">创建</button>#}
{#                    <button class="btn btn-default" onclick="window.location.href='/interface/task_manage'">取消</button>#}
{#                </form>#}
{##}
{#          </div>#}
        </div>
        {% endif %}

    {#    #  编辑项目#}
    {% if type == 'edit'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">编辑项目</h3>

          <div class="table-responsive">

                <form action="" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">保存</button>
                    <button class="btn btn-default" onclick="window.location.href='/manage/module_manage'">取消</button>

                </form>

          </div>
        </div>
        {% endif %}


      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.17/assets/js/vendor/jquery.min.js"><\/script>')</script>

 {% endblock %}

